.corpo {
    /* background-image: url('../App_Themes/Standard/images/extra3.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

.testo {
    font: normal 16px/1.4 "News701 BT", sans-serif !important;
    line-height: 1.6em;
}

.grassetto {
    font-weight: bold !important;
}

.dimeTestoNormale {
    font-size: 27px !important;
}

.coloreOcra {
    color: #b2bd16 !important;
}

.coloreNero {
    color: #444444 !important;
}

.Titolo {
    position: relative;
    line-height: 100px;
    font-size: 40px;
    font-family: "News701 BT",sans-serif;
    font-style: italic;
}

.casellaPartner {
    text-align: center;
    padding: 3px;
    opacity: .5;
    background-color: transparent !important;
    border: 0px;
}

.casellaTeam {
    padding: 5px;
    opacity: .5;
}